<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Promethuim
        </a>
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item">Add Garment</a>
            <a class="navbar-item">View Closet</a>
            <a class="navbar-item">View Outfits</a>
        </div>
    </div>
</nav>