<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Promethium</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://kit.fontawesome.com/fdf8c977f5.js" crossorigin="anonymous"></script>

	</head>

	<body>
		{{{ body }}}
	</body>

</html>