<main class="contianer main-container is-flex is-justify-content-center is-flex-direction-column">
    <section class="columns">
        <div class="column">
            <h1 class="title is-1 has-text-centered">
                Promethium
            </h1>
            <h2 class="title is-4 has-text-centered">
                Capture the <span class="fire-word">fire</span>
            </h2>
        </div>
    </section>
    <section class="columns">
        <a class="column has-text-centered">Add Garment</a>
        <a href="/closets" class="column has-text-centered">View Closet</a>
        <a href="/outfits" class="column has-text-centered">Outfits</a>
    </section>

</main>