<main class="contianer main-container is-flex is-justify-content-center is-flex-direction-column">
    <section class="columns">
        <div class="column">
            <h1 id="cinzel" class="has-text-centered glow">
                Promethium
            </h1>
            <h2 id="garamond" class="title is-4 has-text-centered">
                Capture the <span class="fire-word">fire</span>
            </h2>
        </div>
    </section>
    <section class="columns">


        <a href="/closets" class="column has-text-centered has-text-dark"
            style="font-size:20px; font-family: 'Cormorant Garamond', serif; ">View
            Closet</a>

    </section>

</main>