{{>nav-bar}}
<main class="contianer">
    <section class="column">
        <h1 class="title is-1">Closet</h1>
    </section>
    <section class="columns">
        <div class="column">
            <span class="title is-4">
                Graments
            </span>
            <div class="column">
                {{!-- garment goes here --}}
            </div>
        </div>
        <div class="column">

        </div>
    </section>
</main>