{{>nav-bar}}
<main class="container">
    <section class="column">
        <h1 class="title is-1 has-text-centered">Closet</h1>
    </section>
    <section class="columns">
        <div class="column">
            <h1 class="title is-5 has-text-centered">
                Garments
            </h1>

        </div>
        <div class="column">
            <h1 class="title is-5 has-text-centered">
                Garments View
            </h1>

            {{!-- garment goes here --}}

            <article class="panel is-dark">
                <p class="panel-heading">
                    Graments View
                </p>
                <p class="panel-tabs">
                    <a class="garment-view">All</a>
                    <a class="garment-view">Tops</a>
                    <a class="garment-view">Bottoms</a>
                    <a class="garment-view">Shoes</a>
                    <a class="garment-view">Hats</a>
                </p>


            </article>
            {{!-- <div class="columns is-multiline">

                <div class="column  is-6 is-flex is-flex-direction-column is-align-items-center">
                    tops

                    <div class="column is-flex is-flex-direction-column is-align-items-center">
                        <img style="width: 100px; height:100px;" src="/assets/images/shoe.jpg" alt="">
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-rounded is-dark is-small">
                                    Edit

                            </p>
                            <p class="control">
                                <button class="button is-rounded is-small">
                                    Delete
                                </button>
                            </p>
                        </div>

                    </div>
                    <div class="column is-flex is-flex-direction-column is-align-items-center">
                        <img style="width: 200px; height:200px;" src="/assets/images/shoe.jpg" alt="">
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-rounded is-dark is-small">
                                    Edit
                                </button>
                            </p>
                            <p class="control">
                                <button class="button is-rounded is-small">
                                    Delete
                                </button>
                            </p>
                        </div>

                    </div>

                </div>
                <div class="column is-6">
                    bottom
                    <div class="column is-flex is-flex-direction-column is-align-items-center">
                        <img style="width: 200px; height:200px;" src="/assets/images/shoe.jpg" alt="">
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-rounded is-dark is-small">
                                    Edit
                                </button>
                            </p>
                            <p class="control">
                                <button class="button is-rounded is-small">
                                    Delete
                                </button>
                            </p>
                        </div>

                    </div>


                </div>
                <div class="column is-6">
                    shoes
                    <div class="column is-flex is-flex-direction-column is-align-items-center">
                        <img style="width: 200px; height:200px;" src="/assets/images/shoe.jpg" alt="">
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-rounded is-dark is-small">
                                    Edit
                                </button>
                            </p>
                            <p class="control">
                                <button class="button is-rounded is-small">
                                    Delete
                                </button>
                            </p>
                        </div>

                    </div>

                </div>
                <div class="column is-6">
                    accessories
                    <div class="column is-flex is-flex-direction-column is-align-items-center">
                        <img style="width: 200px; height:200px;" src="/assets/images/shoe.jpg" alt="">
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-rounded is-dark is-small">
                                    Edit
                                </button>
                            </p>
                            <p class="control">
                                <button class="button is-rounded is-small">
                                    Delete
                                </button>
                            </p>
                        </div>

                    </div>

                </div>



            </div>

        </div> --}}
        {{!-- <div class="column">
            <h1 class="title is-5 has-text-centered">
                Create Outfits
            </h1>

        </div> --}}

    </section>

</main>