{{>nav-bar}}
<main class="container is-flex is-flex-direction-column is-justify-content-center" style="min-height: 80vh;">
  <div class="columns">
    <div class="column is-half">
      <div class="tile is-parent">
        <div class="tile is-child box is-vertical has-background-white outfits-container">
          <div class="tabs is-centered">
            <ul>
              <li><strong>View Outfits</strong></li>
            </ul>
          </div>
          {{#each outfits}}
          <a class="panel-block  outfits-container" data-id={{id}}>
            <div class="column">
              {{name}}
            </div>
            <p class="icons">
              <span class="panel-icon add-icon">
                <i class="fas fa-eye"></i>
              </span>
            </p>
          </a>
          {{/each}}
        </div>
      </div>
    </div>


    {{!-- edit outfits --}}

    <div class="column is-half  one-outfit-container" style="">
      <div class="tile is-parent">
        <div class="tile is-child has-background-white outfits-container">
          <div class="tabs is-meduim is-centered">
            <ul>
              <li><strong class="outfit-name"></strong></li>
            </ul>
          </div>

          <div class="panel-block outfit" id="Hats-box"></div>
          <div class="panel-block outfit" id="Shirt-box"></div>
          <div class="panel-block outfit" id="Pants-box"></div>
          <div class="panel-block outfit" id="Shoes-box"></div>
          <div class="panel-block outfit" id="Outerwear-box"></div>


        </div>
      </div>
    </div>
    {{!-- end of the edit outfits container(tile) --}}



  </div>

  </div>
  </div>
</main>

<script src="/assets/js/view-outfits.js" async defer></script>