{{>nav-bar}}
<main class="container">
    <section class="column">
        <h1 class="title is-1 has-text-centered">Closet</h1>
    </section>
    <section class="columns">
        <div class="column">
            <h1 class="title is-5 has-text-centered">
                Garments
            </h1>

        </div>
        <div class="column">
            <h1 class="title is-5 has-text-centered">
                Garments View
            </h1>

            {{!-- garment goes here --}}
            <div class="columns">

                <div class="column is-one-quarter is-flex is-flex-direction-column">
                    <img style="width: 100px; height:100px;" src="../public/assets/images/shoe.jpg" alt="">
                    <div class="field is-grouped">
                        <p class="control">
                            <button class="button is-rounded is-dark is-small">
                                Edit
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-rounded is-small">
                                Delete
                            </button>
                        </p>
                    </div>

                </div>
            </div>

        </div>

    </section>

</main>