{{>nav-bar}}
<main class="container">
  <section class="column">
    <h1 class="title is-1 has-text-centered">View your outfits</h1>
  </section>
  <div class="box garmentsContainer">
    <div class="columns">
      <div class="column is-one-third">
        <div class="notification is-$grey-light">
          <h1 class="title is-2 has-text-centered strong has-text-weight-bold">
            Outfits
          </h1>
          <div id="outfitButtons"></div>
          <button class="button is-danger is-rounded">Outfit 1</button>
          <button class="button is-rounded">Outfit 2</button>
          <button class="button is-rounded">Outfit 3</button>
          <button class="button is-rounded">Outfit 4</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-two-thirds">
    <div class="notification is-$grey-light">
      <h1 class="title is-2 has-text-centered strong has-text-weight-bold">
        Outfits View
      </h1>
      
    </div>
  </div>
</main>
