{{>nav-bar}}
<main class="container">
  <section class="column">
    <h1 class="title is-1 has-text-centered">View your outfits</h1>
  </section>
  <div class="box garmentsContainer">
    <div class="columns">
      <div class="column">
        <div class="notification is-$grey-light">
          <h1 class="title is-2 has-text-centered strong has-text-weight-bold">
            Outfits View
          </h1>
          <div class="tile is-ancestor">

            <div class="tile is-vertical is-5 is-parent">
              <div class="tile is-child box is-vertical">
                <div class="tabs is-boxed">
                  <ul>
                    <li class="is-active"><a>All</a></li>
                  </ul>
                </div>
                {{#each outfits}}
                <a class="panel-block  outfits-container" data-id={{id}}>
                  <div class="column">
                    {{name}}
                  </div>
                  <p class="icons">
                    <span class="panel-icon add-icon">
                      <i class="fas fa-eye"></i>
                    </span>
                  </p>
                </a>
                {{/each}}



              </div>
            </div>


            {{!-- edit outfits --}}
            <div class="tile is-parent one-outfit-container" style="display: none;">
              <div class="tile is-child box" id="">
                <p class="title outfit-name">{{!-- outfits name goes here --}}</p>
                <div class="tile is-child is-vertical">
                  <div class="tile is-child box garment outfit-information">
                    {{!-- outfits data goes here --}}
                  </div>
                </div>
              </div>
            </div>
            {{!-- end of the edit outfits container(tile) --}}



          </div>
        </div>
      </div>
    </div>
</main>

<script src="/assets/js/view-outfits.js" async defer></script>