{{>nav-bar}}
<main class="container" style="height: 100%;">
  <div class="columns">
    <div class="column is-half">
      <div class="tile is-parent">
        <div class="tile is-child box is-vertical has-background-white outfits-container">
          <div class="tabs is-small is-centered">
            <ul>
              <li><a>View Outfits</a></li>
            </ul>
          </div>
          {{#each outfits}}
          <a class="panel-block  outfits-container" data-id={{id}}>
            <div class="column">
              {{name}}
            </div>
            <p class="icons">
              <span class="panel-icon add-icon">
                <i class="fas fa-eye"></i>
              </span>
            </p>
          </a>
          {{/each}}
        </div>
      </div>
    </div>


    {{!-- edit outfits --}}

    <div class="column is-half one-outfit-container" style="display: none;">
      <div class="tile is-parent is-vertical">
        <div class="tile is-child is-vertical">
          <div class="tile is-child box garment outfit-information">
            <div class="tile is-child box" id="Hats-box"></div>
            <div class="tile is-child box" id="Shirt-box"></div>
            <div class="tile is-child box" id="Pants-box"></div>
            <div class="tile is-child box" id="Shoes-box"></div>
            <div class="tile is-child box" id="Outerwear-box"></div>
            {{!-- outfits data goes here --}}
          </div>
        </div>
      </div>
    </div>
    {{!-- end of the edit outfits container(tile) --}}



  </div>

  </div>
  </div>
</main>

<script src="/assets/js/view-outfits.js" async defer></script>