@font-face {
  font-family: "Trajan Pro";
  src: url("fonts/Trajan-Pro-Regular.eot"),
    url("fonts/Trajan-Pro-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Trajan-Pro-Regular.woff2") format("woff2"),
    url("fonts/Trajan-Pro-Regular.woff") format("woff"),
    url("fonts/Trajan-Pro-Regular.ttf") format("truetype"),
    url("fonts/Trajan-Pro-Regular.svg#Trajan Pro") format("svg");
}

body {
  background-image: url("../images/backgroundImg.jpg");
  min-height: 100vh;
  background-position: 0px -300px;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

.main-container {
  height: 100vh;
}
.fire-word {
  /* font: italic bold 22px Georgia, serif; */
  color: red;
  text-shadow: 0px 0px 40px #ff5e14, 0px 0px 40px #ff5e14;
}
.glow {
  font: italic bold 22px Georgia, serif;
  color: white;
  text-shadow: 0px 0px 40px #39ff14, 0px 0px 40px #39ff14;
}
ul span {
  font-size: 10px;
}
.outfits-container {
  box-shadow: none;
  padding: 1px;
  border-radius: 0;
}
.outfits-container a,
.outfits-container span {
  font-size: 10px;
}
